body {
  margin: 0;
  font-family: 'Acme', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: rgb(107, 255, 255) */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Header {
  background: pink; 
  border-bottom: solid 5px rgb(248, 155, 171);
  font-size: 26px;
  color: whitesmoke;
}

.header-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em;
}

.Search {
  display: flex;
  justify-content: center;

}

.search-bar {
  font-size: 18px;
  margin: 1em;
}

.Cherry1 {
  transform: scaleX(-1);
}

.Fridge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.food-cards {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(6, 36px);
  gap: 0;
  
}

.fridge-layout {
  transform: translateX(1px) translateY(-500px);
}

.get-groceries {
  transform: translateX(1px) translateY(-200px);
  font-size: 28px;
  border-radius: 12px;
  background: whitesmoke;
  border: outset 8px rgb(248, 155, 171);
  padding: 10px;
}

.food-display {
  display: flex;
  align-items: center; 
  justify-content: center; 
  width: 500px; 
  min-height: 200px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px; 
  border: 1px solid #d4d4d5; 
  border-radius: 12px; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
  background: #fff;
}

.food-left-offset {
  margin-right: 40px;
}

.food-info { 
  margin-right: 20px;
  padding: 10px;
  transform: translateY(-15px);
}

.emoji-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; 
}

.emoji {
  font-size: 12em; 
  margin-top: 20;
  transform: translateX(10px); 
}

.emoji-form {
  transform: translateY(10px); 
}

.food-description {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 105%
}

.button-container {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  width: 600px; 
  margin: 0 auto;
  margin-top: 15px
}

.food-button {
  height: 100px;
  width: 100px;
  font-size: 75px;
  margin: 15px;
  border: 1px solid #d4d4d5; 
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.emoji-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Adjust the number of columns as needed */
  grid-auto-rows: 40px; /* Adjust the height of each row */
  gap: 8px; /* Adjust the gap between items */
  margin-right: 100px;
  transform: translateY(-5px);
}

.emoji-grid-button {
  height: 40px;
  width: 40px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  padding: 5px;
  font-size: 30px;
}



.form-display {
  display: flex;
  align-items: center; 
  justify-content: center; 
  width: 600px; 
  height: 500px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px; 
  border: 1px solid #d4d4d5; 
  border-radius: 12px; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
  background: #fff; 
}
.form-container {
  display: flex;
  justify-content: right; 
  width: 175px; 

  margin: 0 auto;
  padding: 10px; 
}

.form-left {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;
  transform: translateY(-25px);
}

.form-left-offset {
  margin-right: 70px;
}

.form-submit-button {
  width: 600px;
  height: 50px;
  margin: 0 auto; /* Adjust the top margin if needed */
  border: 1px solid #d4d4d5;
  border-radius: 12px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background: #fff;
}

.input-group {
  margin-bottom: 0px;
}

.input-bar {
  width: 190px;
}

.text-area {
  width: 190px;
  max-width: 190px;
  max-height: 75px;
  background-color: lightgoldenrodyellow;
}

.text-area-edit {
  width:220px;
  height:220px;
  max-width: 220px;
  max-height: 220px;
  resize: none;
  padding: 2px;
  transform: translateX(25px) translateY(10px);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  background-color: lightgoldenrodyellow;
}

.post-it-button { 
  transform: translateX(37px) translateY(-28px);
}

label {
  display: block;
  margin-bottom: 5px;
}

body {
    background-image:
    linear-gradient(45deg, pink 25%, transparent 25%), 
    linear-gradient(-45deg, pink 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, pink 75%),
    linear-gradient(-45deg, transparent 75%, pink 75%);
  
    background-size:30px 30px;    
    /* background-position:0 0, 10px 0, 10px -10px, 0px 10px; */
}