body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: rgb(107, 255, 255) */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




.Header {
  background: pink; 
  border-bottom: solid 5px rgb(248, 155, 171);
}

.header-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em;
}

.Search {
  display: flex;
  justify-content: center;

}

.search-bar {
  font-size: 18px;
  margin: 1em;
}

.Cherry1 {
  transform: scaleX(-1);
}

.Fridge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.food-cards {
  background: url("https://cdn.discordapp.com/attachments/1187512873015062528/1191803438649061406/fridge.png?ex=65a6c472&is=65944f72&hm=28b2df5203c5424792dfc8ee660e790d722bd2e1931657dd5a9297188ba5797c&");
  width: 720px;
  height: 710px;
  padding-right: 250px;
}

.get-groceries {
  margin-top: 2em;
  font-size: 28px;
  border-radius: 12px;
  background: whitesmoke;
  border: outset 8px rgb(248, 155, 171);
  padding: 10px;
}

.food-display {
  display: flex;
  align-items: center; 
  justify-content: center; 
  width: 450px; 
  min-height: 200px;
  margin: 0 auto;
  padding: 20px; 
  border: 1px solid #d4d4d5; 
  border-radius: 12px; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
  background: #fff;
}

.emoji-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; 
}

.emoji {
  font-size: 12em; 
  display: flex; 
  align-self: center; 
  margin-top: 20; 
}

.food-description {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 105%
}

.button-container {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  width: 450px; 
  margin: 0 auto;
  margin-top: 15px
}

.food-button {
  height: 100px;
  width: 100px;
  font-size: 75px;
  margin: 15px;
  border: 1px solid #d4d4d5; 
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.emoji-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Adjust the number of columns as needed */
  grid-auto-rows: 40px; /* Adjust the height of each row */
  gap: 8px; /* Adjust the gap between items */
  margin-right: 100px;
  transform: translateY(-5px);
}

.emoji-grid-button {
  height: 40px;
  width: 40px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  padding: 5px;
  font-size: 30px;
}



.form-display {
  display: flex;
  align-items: center; 
  justify-content: center; 
  width: 600px; 
  height:475px;
  margin: 0 auto;
  padding: 20px; 
  border: 1px solid #d4d4d5; 
  border-radius: 12px; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
  background: #fff; 
}
.form-container {
  display: flex;
  justify-content: right; 
  width: 175px; 

  margin: 0 auto;
  padding: 10px; 
}

.form-left {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;
  transform: translateY(-25px);
}

.form-left-offset {
  margin-right: 70px;
}

.input-group {
  margin-bottom: 0px;
}

.input-bar {
  width: 190px;
}

.text-area {
  width: 190px;
  max-width: 190px;
  max-height: 75px;
  background-color: lightgoldenrodyellow;
}

label {
  display: block;
  margin-bottom: 5px;
}

body {
    background-image:
    linear-gradient(45deg, pink 25%, transparent 25%), 
    linear-gradient(-45deg, pink 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, pink 75%),
    linear-gradient(-45deg, transparent 75%, pink 75%);
  
    background-size:30px 30px;    
    /* background-position:0 0, 10px 0, 10px -10px, 0px 10px; */
}